.DS_Store
.idea
*.log
tmp/

*.tern-port
*/**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo
.npm
.eslintcache
*/**/dist*
*/**/package-lock.json

**/.scratch
**/scraps/
**/notes/
**/build/
**/build/
package-lock.json
**/*.save
.cache
